{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto px-6 py-10">

    {% if post.image %}
        <img src="{{ post.image.url }}" class="w-full h-96 object-cover rounded-xl mb-6">
    {% endif %}

    <h1 class="text-4xl font-bold mb-3">{{ post.title }}</h1>

    <p class="text-gray-500 mb-6">
        By {{ post.author.username }} |
        {{ post.category.name }} |
        {{ post.created_at|date:"d M Y" }}
    </p>

    <p class="text-lg leading-8">
        {{ post.content|linebreaks }}
    </p>

    {% if request.user == post.author %}
    <div class="flex gap-4 mt-6">
        <a href="{% url 'blog:post_update' post.slug %}"
           class="px-4 py-2 bg-blue-600 text-white rounded-lg">
            Edit
        </a>

        <a href="{% url 'blog:post_delete' post.slug %}"
           class="px-4 py-2 bg-red-600 text-white rounded-lg">
            Delete
        </a>
    </div>
{% endif %}
<br>
<hr>

<h3>Comments</h3>

{% for comment in comments %}
    <div>
        <strong>{{ comment.user.username }}</strong>
        <small>{{ comment.created_at|date:"d M Y, h:i A" }}</small>
        <p>{{ comment.body }}</p>
    </div>
{% empty %}
    <p>No comments yet.</p>
{% endfor %}

<hr>

{% if user.is_authenticated %}
    <h3>Add Comment</h3>

    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% else %}
    <p>Please login to comment.</p>
{% endif %}
</div>


{% endblock %}