{% extends 'base.html' %}

{% block content %}
  <div class="max-w-4xl mx-auto px-6 py-10">
    {% if post.image %}
      <img src="{{ post.image.url }}" alt="{{ post.title }}" class="w-full h-96 object-cover rounded-xl mb-6" />
    {% endif %}

    <h1 class="text-4xl font-bold mb-3">{{ post.title }}</h1>

    <p class="text-gray-500 mb-6">By {{ post.author.username }} |
      {{ post.category.name }} |
      {{ post.created_at|date:'d M Y' }}</p>

    <div class="text-lg leading-8 mb-8">{{ post.content|linebreaks }}</div>

    {% if request.user == post.author %}
      <div class="flex gap-4 mb-8">
        <a href="{% url 'blog:post_update' post.slug %}" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Edit</a>

        <a href="{% url 'blog:post_delete' post.slug %}" class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700">Delete</a>
      </div>
    {% endif %}

    <hr class="my-8" />

    <h2 class="text-3xl font-bold mb-6">Comments</h2>

    {% for comment in comments %}
      <div class="bg-slate-900/80 border border-slate-100 rounded-xl p-5 mb-5">
        <div class="flex justify-between items-center mb-2">
          <strong class="text-gray-100">{{ comment.user.username }}</strong>

          <small class="text-gray-200">{{ comment.created_at|date:'d M Y, h:i A' }}</small>
        </div>

        <p class="text-gray-300">{{ comment.body }}</p>
      </div>
    {% empty %}
      <p class="text-gray-200">No comments yet.</p>
    {% endfor %}

    <hr class="my-8" />

    {% if user.is_authenticated %}
      <div class="bg-slate-900/80 border border-slate-700 rounded-xl p-6"">
        <h3 class="text-2xl font-bold mb-4">Leave a Comment</h3>

        <form method="POST">
          {% csrf_token %}

          {{ comment_form.body }}

          <button
    type="submit"
    class="mt-4 bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-lg font-semibold shadow-lg transition-all duration-300 hover:-translate-y-1"
>
    Post Comment
</button>
        </form>
      </div>
    {% else %}
      <div class="bg-yellow-100 border border-yellow-300 text-yellow-800 p-4 rounded-lg">Please login to comment.</div>
    {% endif %}
  </div>
{% endblock %}
