{% extends 'base.html' %}

{% block content %}
<section class="bg-gradient-to-br from-slate-950 via-slate-900 to-slate-800 text-white py-20">
    <div class="max-w-4xl mx-auto px-6">

        <div class="text-center mb-12">
            <h1 class="text-5xl font-bold mb-4">
                Contact <span class="text-blue-400">Me</span>
            </h1>
            <p class="text-gray-300">
                Have a question, project idea, or just want to connect? Feel free to reach out.
            </p>
        </div>

        <div class="grid md:grid-cols-2 gap-10">

            <!-- Contact Info -->
            <div class="bg-slate-800 p-8 rounded-2xl shadow-lg">
                <h2 class="text-2xl font-semibold mb-6">Get In Touch</h2>

                <div class="space-y-4 text-gray-300">
                    <p>📧 <a href="mailto:sharma.adesh019@gmail.com"
           class="text-blue-400 hover:text-blue-300 hover:underline" rel="noopener noreferrer" target="_blank">
            Email
        </a></p>
                    <p>💼 <a href="https://www.linkedin.com/in/adesh-sharma-66360a159/"
           class="text-blue-400 hover:text-blue-300 hover:underline" rel="noopener noreferrer" target="_blank">
        LinkedIn
        </a></p>
                    <p>🐙 <a href="https://github.com/eddyhub404"
           class="text-blue-400 hover:text-blue-300 hover:underline" rel="noopener noreferrer" target="_blank" >
            GitHub
        </a></p>
                    <p>📍 Delhi, India</p>
                </div>
            </div>

            <!-- Contact Form -->
            <div class="bg-slate-800 p-8 rounded-2xl shadow-lg">
                <form method="POST" class="space-y-4">
                     {% csrf_token %}

                    <input
                        type="text"
                        name="name"
                        placeholder="Your Name"
                        class="w-full p-3 rounded-lg bg-slate-700 border border-slate-600 focus:outline-none"
                    >

                    <input
                        type="email"
                        name="email"
                        placeholder="Your Email"
                        class="w-full p-3 rounded-lg bg-slate-700 border border-slate-600 focus:outline-none"
                    >

                    <textarea
                        rows="5"
                        name="message"
                        placeholder="Your Message"
                        
                        class="w-full p-3 rounded-lg bg-slate-700 border border-slate-600 focus:outline-none"
                    ></textarea>

                    <button
                        type="submit"
                        class="w-full bg-blue-500 hover:bg-blue-600 py-3 rounded-lg font-semibold transition"
                    >
                        Send Message
                    </button>

                </form>
            </div>

        </div>

    </div>
</section>
{% endblock %}